name: CI

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"
  schedule:
    - cron: "17 0 * * *"
  workflow_dispatch:

concurrency:
  # Specific group naming so CI is only cancelled
  # within same PR or on merge to main
  group: ${{ github.ref }}-${{ github.head_ref }}-${{ github.workflow }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash -l {0}

jobs:
  test:
    name: Test on ${{ matrix.os }}, Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11", "3.12"]
        os: [macOS-latest, ubuntu-latest]

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Additional info about the build
        run: |
          uname -a
          df -h
          ulimit -a

      - name: Install environment
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: devtools/conda-envs/test_env.yaml
          create-args: >-
            python=${{ matrix.python-version }}

      - name: Install package
        run: |
          python -m pip install . --no-deps

      - name: Run type-checking
        run: python -m mypy -p "openff.nagl_models"

      - name: Test the package
        run: |
          pytest -v openff/nagl_models/tests
