name: Build and upload to PyPi

on:
  push:
    tags:
      - "*"
  release:
    types:
      - published
  workflow_dispatch:

jobs:
  testpypi_push:
    environment:
      name: deploy
      url: https://test.pypi.org/p/openff-nagl-models/
    permissions:
      id-token: write
    if: "github.repository == 'openforcefield/openff-nagl-models'"
    name: Build, upload and test pure Python wheels to TestPyPI
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: testpypi_deploy
        uses: MDAnalysis/pypi-deployment@main
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
        with:
          test_submission: true
          package_name: 'openff-nagl-models'
          module_name: 'openff.nagl_models'
          wheels: false
          test_deps: "pytest numpy"

  pypi_push:
    environment:
      name: deploy
      url: https://pypi.org/p/openff-nagl-models/
    permissions:
      id-token: write
    if: "github.repository == 'openforcefield/openff-nagl-models'"
    name: Build, upload and test pure Python wheels to PyPI
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: pypi_deploy
        uses: MDAnalysis/pypi-deployment@main
        if: github.event_name == 'release' && github.event.action == 'published'
        with:
          package_name: 'openff-nagl-models'
          module_name: 'openff.nagl_models'
          wheels: false
          test_deps: "pytest numpy"
