name: Build and upload to PyPi

on:
  push:
    tags:
      - "*"
  release:
    types:
      - published
  workflow_dispatch:

defaults:
  run:
    shell: bash -l {0}

jobs:
  testpypi_push:
    environment:
      name: deploy
      url: https://test.pypi.org/p/openff-nagl-models/
    permissions:
      id-token: write
    if: "github.repository == 'openforcefield/openff-nagl-models'"
    name: Build, upload and test pure Python wheels to TestPyPI
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install pipx

      - name: Build
        run: |
          python -m pipx run build

      - id: testpypi_upload
        uses: pypa/gh-action-pypi-publish@v1.12.4
        with:
          skip-existing: true
          repository-url: https://test.pypi.org/legacy/
      
      - name: run_pytest
        run: |
          # sleep for 10 seconds to make sure things are refreshing upstream
          sleep 10

          # Install via pipx and run tests
          python -m pip install --index-url https://test.pypi.org/simple/ --extra-index-url https://pypi.org/simple openff-nagl-models
          python -m pip install pytest numpy
          python -m pytest --pyargs openff.nagl_models

  pypi_push:
    environment:
      name: deploy
      url: https://pypi.org/p/openff-nagl-models/
    permissions:
      id-token: write
    if: "github.repository == 'openforcefield/openff-nagl-models'"
    name: Build, upload and test pure Python wheels to PyPI
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install pipx

      - name: Build
        run: |
          python -m pipx run build

      - id: pypi_upload
        uses: pypa/gh-action-pypi-publish@v1.12.4
        with:
          skip-existing: true
      
      - name: run_pytest
        run: |
          # sleep for 10 seconds to make sure things are refreshing upstream
          sleep 10

          # Install via pipx and run tests
          python -m pip install openff-nagl-models
          python -m pip install pytest numpy
          python -m pytest --pyargs openff.nagl_models
